﻿
@model WebApplication1.ViewModel.BMIData
@{
    ViewBag.Title = "Index";
}

<h2>BMI計算</h2>
<h3>BMI = 體重(kg)/身高(m*m)</h3>
<form action="@Url.Action("Index")" method="Post">
    @Html.DisplayNameFor(m => m.height)
    @Html.TextBoxFor(m => m.height) 公分
    @Html.ValidationMessageFor(modelItem => @Model.height)<br />

    @Html.DisplayNameFor(m => m.weight)
    @Html.TextBoxFor(m => m.weight)  公斤
    @Html.ValidationMessageFor(modelItem => @Model.weight)<br />

    <p><input type="submit" name="name" value="送出" /></p>
</form>
<p>計算結果:@Model.Result</p>
<p>等級:@Model.level</p>