﻿
@{
    ViewBag.Title = "Html";
}

<h2>Html</h2>

<p> 姓名: <input type="text" name="name" value="" /></p>
<p> 帳號: <input type="text" name="name" value="" /></p>
<p> 密碼: <input type="password" name="name" value="" /></p>    
<p>
    性別: <br>
          <input type="radio" name="gender" value="A"> 男性<br>
          <input type="radio" name="gender" value="B"> 女性<br>
</p> 
<p>
    興趣: <br>
    <input type="checkbox" name="item-1"  value="A">游泳
    <input type="checkbox" name="item-2"  value="B">閱讀
    <input type="checkbox" name="item-3"  value="C">看電影<br>
</p>
<p> 自我介紹: <br>
            <textarea></textarea>
</p>       