﻿
@{
    ViewBag.Title = "HtmlHelper";
}

<h2>HtmlHelper</h2>


<p> 姓名: @Html.TextBox("username", "jiting")</p>
<p> 帳號: @Html.TextBox("email", "tset@gmail.com")</p>
<p> 密碼: @Html.Password("password", "123456")</p>
<p>
    性別: <br>
    @Html.RadioButton("gender", "A") 男性
    @Html.RadioButton("gender", "B") 女性
</p>
<p>
    興趣: <br>
    @Html.CheckBox("item-1", "A")游泳
    @Html.CheckBox("item-2", "B")閱讀
    @Html.CheckBox("item-3", "C")看電影<br>
</p>

<p>
    自我介紹: <br>
    @Html.TextArea("about me")
</p>

@*<p> 姓名: <input type="text" name="name" value="" /></p>
    <p> 帳號: <input type="text" name="name" value="" /></p>
    <p> 密碼: <input type="password" name="name" value="" /></p>
    <p>
        性別: <br>
        <input type="radio" name="gender" value="A"> 男性<br>
        <input type="radio" name="gender" value="B"> 女性<br>
    </p>
    <p>
        興趣: <br>
        <input type="checkbox" name="item-1"  value="A">游泳
        <input type="checkbox" name="item-2"  value="B">閱讀
        <input type="checkbox" name="item-3"  value="C">看電影<br>
    </p>
    <p>
        自我介紹: <br>
        <textarea></textarea>
    </p>*@                             
